/* CSS BY Nasir Ismail */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
  --Teal: #4CA7C0;
  --Purple: #484FB7;
  --Lavender: #6B8FE7;
  --Yellow: #E9BB57;
  --Pink: #D9526F;
  --Dark-gray: #1E1E1E;
  --White: #ffffff;
  --font-main: 'Inter', sans-serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
  font-family: var(--font-main);
  background-color: var(--Lavender);
  color: var(--Dark-gray);
  padding: 1rem;
  line-height: 1.6;
}

#container {
	max-width: 450px;
	margin: 0 auto;
	background-color: var(--Purple);
}

header {
	text-align: center;
}

#title {
	margin-top: -10px;
	color: var(--White);
}

nav {
	background-color: var(--Yellow);
	padding-bottom: 15px;
}

nav ul {
	display: block;
	max-width: 400px;
	margin: 0 auto;
}

nav ul li a {
	text-decoration: none;
	font-size: 1rem;
	background-color: var(--White);
	color: var(--Purple);
	margin: 10px;
	padding-bottom: 10px;
	display: block;
	gap: 0.5rem;
	font-weight: bold;
}

nav li {

	background-color: var(--White);
	display: block;
	text-align: center;
	
}

h1, h2 {
  font-family: 'Kavoon', cursive;
}

h1 {
  font-size: 3em;
  color: var(--White);
}

nav h2 {
  font-size: 1.5em;
  font-family: var(--font-main);
  color: var(--Dark-gray);
  padding-top: 5px;
  font-weight: bold;
}

.card {
	background-color: var(--White);
	margin-top: 0;
	border-radius: 10px;
	margin: 15px;
	
	
}

section h4 {
	color: var(--Purple);
	margin: 10px;
}

.card h3 {
	background-color: var(--Purple);
	color: var(--Yellow);
	/* margin: 0; */
	
	
}

h2 {
  font-size: 2em;
  color: var(--White);  
  margin-left: 15px;
}


h3 {
  font-size: 1.5em;
  font-family: var(--font-main);
  color: var(--Yellow);
   margin-left: 15px
}

h4 {
  font-size: 1.15em;
  font-family: var(--font-main);
}

p, a, li, button {
  font-family: var(--font-main);
}

p {
	margin: 10px;
}

#pricing .card {
	max-width: 450px;
	width: 400px;
	margin: 1rem auto;
}

.card table {
	border: 2px solid var(--Yellow);
	width: 100%;
	padding: 20px 20px;	
}

.card th, .card td {
	padding: 1rem;
	text-align: left;
	border: 1px solid var(--Yellow);
}


#why-choose-us {
	background-color: var(--Pink);
	padding: 1rem;	
	
}

.why-boxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.box {
	aspect-ratio: 2 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	border-radius: 0.5rem;
}

.teal {
	background-color: var(--Teal);
	border-radius: 15px;	
}

.lavender {
	background-color: var(--Lavender);
	border-radius: 15px;
}

.yellow {
	background-color: var(--Yellow);
	border-radius: 15px;
}

.white {
	background-color: var(--White);
	border-radius: 15px;
}

thead {
		background-color: var(--Yellow);
}


#cta {
	text-align: center;
	background-color: var(--Pink);
	color: var(--White);
}

#cta button {
	padding: 20px 50px;
	align-self: center;
	border-radius: 10px;
	box-shadow: 0 4px 6px #1E1E1E;
	margin-bottom: 10px;
	

}


footer {
	padding: 50px 20px;
	align-items: center;
	color: var(--White);
	gap: 1rem;
}

footer a {
	color: var(--White);
	margin-left: 2rem;
}

footer p {
	text-align: center;
}
